body{
    margin: 16px;
    background-color: #f0ead2;
    display: flex;
    justify-content: left;
  }
  
  .container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1040px;
    padding: 25px;  
  }
  
  .title{
    color: #472d30;
    width: 110%;
    padding: 50xp;
    justify-content: flex-end;
  }
  
  .text{
    color: #472d30;
    width: 110%; 
    padding: 2px;
    justify-content: flex-end;
  }
  
  .text_1{
    color: #472d30;
    width: 110%;
    padding: 4px;
  }
  
  .text_2{
    color: #472d30;
    width: 120%;
    padding: 4px;
  }
  
 