body{
    margin: 16px;
    background-color: #f0ead2;
    display: flex;
    justify-content: left;
  }

  .container_1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1040px;
    padding: 25px;  
  }
  .title1{
    color: #472d30;
    width: 110%;
    padding: 50xp;
    justify-content: flex-end;
  }
  .text_3{
    color: #472d30;
    width: 110%; 
    padding: 2px;
    justify-content: flex-end;
}